 body {
      font-family: Arial, sans-serif;
      background: #FDF6EC;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin:0;
    }
.container {
      background: white;
      padding: 30px;
      border-radius: 12px;
      width: 320px;
      box-shadow:0 4px 10px rgba(0,0,0,0.1);
    }
.header h1 {
  margin: 0;
  font-size: 36px;
    }
h2 {
    text-align:center;
    margin_bottom:20px;
    }
input {
      display: block;
      width: 100%;
      margin: 10px 0;
      padding: 10px;
      border-radius: 6px;
      border: 1px solid #ccc;
    }
input:focus {
    outline: none;
    border-bottom: 1px solid #52b788;
    }
button:hover {
      background: #7c8983;
      transition: 0.5s;
       transform: scale(1.1);
    }
#message{
        text-align: center;
        margin-top: 10px;
        color:#52b788
    }
.background.loginAndSignup {
  background-image: url("letter pink.avif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
}
.overlay {
  background: rgba(0, 0, 0, 0.4);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
    }
.header {
  text-align: center;
  color: white;
  margin-bottom: 20px;
    }
.logo {
  width: 80px;
  margin-bottom: 10px;
    }
.tagline {
  font-size: 14px;
  opacity: 0.8;
    }


