 body {
      font-family: Arial, sans-serif;
      background: #FDF6EC;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin:0;
    }
.container {
      background: white;
      padding: 30px;
      border-radius: 12px;
      width: 320px;
      box-shadow:0 4px 10px rgba(0,0,0,0.1);
    }
.header h1 {
  margin: 0;
  font-size: 36px;
    }
h2 {
    text-align:center;
    margin-bottom:20px;
    }
input {
      display: block;
      width: 100%;
      margin: 10px 0;
      padding: 10px;
      border-radius: 6px;
      border: 1px solid #ccc;
    }
input:focus {
    outline: none;
    border-bottom: 1px solid #52b788;
    }
button:hover {
      background: #7c8983;
      transition: 0.5s;
       transform: scale(1.1);
    }
#message{
        text-align: center;
        margin-top: 10px;
        color:#52b788
    }
.background.loginAndSignup {
  background-image: url("letter_pink.avif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
}
.overlay {
  background: rgba(0, 0, 0, 0.4);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
    }
.header {
  text-align: center;
  color: white;
  margin-bottom: 20px;
    }
.logo {
  width: 80px;
  margin-bottom: 10px;
    }
.tagline {
  font-size: 14px;
  opacity: 0.8;
    }

.home-page-body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: sans-serif;
}
.background{
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
  
.top-container {
    font-size: 55px;
    color:black;
    text-align: center;
  
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 20px;
    left: 0;
    width: 100%;
    height:60px;
    background-color: #ffb0b0;
    padding: 40px 60px;        
  
}
.title-text {
    font-size: 60px;
    color: white;
    margin: 0;
    font-family:sans-serif;
    -webkit-text-stroke: 2px black;
}
.login {
    position: absolute;
    right: 7%;
    display: flex;
    justify-content: right;
    gap: 10px;
}
.btn {
    padding: 10px 20px;
    right: 30%;
    font-size: 18px;
    background-color: white;
    border: 2px solid #333;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}
    
.btn:hover {
    background-color: #f0d4f0;
}
.middle-container{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center; 
  gap: 40px;
  width: 100%;
  font-size: 30px;
}
.tagline {
    font-size: 25px;
    color: #333;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 180px;
    text-align: center;
    width: 100%;
}
.options{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}
    
.selectionBtn {
    padding: 10px 20px;
    font-size: 18px;
    background-color: white;
    border: 2px solid #333;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
    
.selectionBtn:hover {
    background-color: #d5e3e8;
  }
.pigeon-logo{
  position: absolute;
  left: 7%;
  max-width: 80px;
  height: auto;
  display: flex;
  justify-content: left;
}
.logo-image{
  height: auto;
  max-width: 90px;
  left: 2%
}
  


