 body {
      font-family: Arial, sans-serif;
      background: #FDF6EC;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin:0;
    }
    .container {
      background: white;
      padding: 30px;
      border-radius: 12px;
      width: 320px;
      box-shadow:0 4px 10px rgba(0,0,0,0.1);
    }
    h2{
    text-align:center;
    margin_bottom:20px;
    }
    input {
      display: block;
      width: 100%;
      margin: 10px 0;
      padding: 10px;
      border-radius: 6px;
      border: 1px solid #ccc;
    }
     button:hover {
      background: #52b788;
    }
    #message{
        text-align: center;
        margin-top: 10px;
        color:#52b788
    }
